*{
    background-color: #071124;
    /* background-image: linear-gradient(45deg, #181c48 100%, #2b7793 %); */
    --regmemcolour: #161f32; 
    --inputtranscolour: #879fd3;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}


.main_div{
    /* display: grid;
    grid-template-columns: 30% 70%;
    gap: 15px; */
}

.mem_reg{
    height: 46%; 
    width: 27%;
}

.reg_main{
    background-color: var(--regmemcolour);
    height: 35%;
    width: 90%;
    /* border: 12px solid rgb(42, 77, 110); */
    border-radius: 1px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.reg_main h3{
    background-color: transparent;
    color: lightsteelblue;
    font-size: 23px;
    left: 10%;
    top:3%;
    /* top:3%; */
    position: relative;
    font-family: 'Oswald', sans-serif;
    text-shadow:/*2px 2px 0px #2e317c,*/ 1px 1px 2px rgb(130, 186, 239), -1px -1px 2px rgb(130, 186, 239);
    text-shadow: 
    text-shadow: 

}

.memory_main {
    background-color: var(--regmemcolour);
    height: 60%;
    width: 90%;
    /* border: 1px solid gray; */
    /* border-radius: 10px; */
    margin: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.memory_main h3{
    background-color: transparent;
    color: lightsteelblue;
    font-size: 23px;
    position: relative;
    left: 10%;
    top:3%;
    font-family: 'Oswald', sans-serif;
}

.inp_trans{
    width: 56vw;
    height: 12vw;
    /* border: 1px solid gray; */
    position: fixed;
    top: 0;
    right: 14rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.input_main{
    /* border: 1px solid gray;
    background-color: white; */
    border-radius: 7px;
    height: 95%;
    width: 30%;
    top: 4%;
    position: relative;
}

.input_main h3{
    background-color: transparent;
    color: lightsteelblue;
    right: 36%;
    position: relative;
    font-size: 20px;
}

.trans_main{
    border: 1px solid gray;
    border-radius: 7px;
    height: 95%;
    width: 30%;
    top: 4%;
    right:5%;
    position: relative;
    margin-left: 5rem;
    background-color: white;
}

.trans_main h3{
    background-color: transparent;
    color: lightsteelblue;
    right: 29%;
    position: relative;
    font-size: 20px;
}

.buttons{
    position: absolute;
    margin: 1rem;
    right: 7%;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn{
    background-color: gray;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    width: 10rem;
    transition: 0.5s;
    font-family: 'Rubik Microbe', cursive;
}

.btn:hover{
    background-color: rgb(44, 232, 75);
    color: black;
}

.sim_main{
    background-color: white;
    border: 1px solid gray;
    bottom: 2rem;
    right: 2rem;
    position: fixed;
    height: 62%;
    width: 68%;
    margin: 1rem;
    border-radius: 10px;
    background-image: linear-gradient(0deg, #647ef1 0%, #333969 79%);
    
}

.table{
    display: grid;
    background-color: var(--regmemcolour);
    grid-template-columns: 40% 40%;
    gap: 1rem;
    padding-left: 2rem;
}

.table-row{
    display: flex;
    flex-direction: row;
    background-color: white;
}

.reg_num{
    background-color: silver;
    padding: 0.1rem;
    width: 4rem;
    border: 3px solid rgb(42, 77, 110);
    text-align: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    color: rgb(67, 122, 149);
    overflow: hidden;
}

.col{
    padding: 0.1rem;
    /* background-color: silver; */
    width: 4rem;
    height: 1.5rem;
    border-top: 3px solid rgb(42, 77, 110);
    border-left: 3px solid rgb(42, 77, 110);
    text-align: center;
    color: rgb(67, 122, 149);
    /* border-bottom-left-radius: 5px; */
    /* border-top-left-radius: 5px; */
}

.mem-grid{
    display: grid;
    background-color: var(--regmemcolour);
    grid-template-columns: 40% 40%;
    gap: 1rem;
    padding-left: 2rem;
}

.memSeg{
    display: flex;
    flex-direction: row;
}

.input_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 80%;
    height: 40%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5rem
}

.trans_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.trans_text{
    width: 80%;
    height: 40%;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(226, 226, 226, 0.384);
    padding: 0.5rem
}

.processor{
    background-color: rgb(87, 136, 209);
    border: 1px solid rgb(136, 69, 7);
    bottom: 9rem;
    left: 2rem;
    position: absolute;
    height: 50%;
    width: 42%;
    margin: 1rem;
    border-radius: 13px;
    border-width: 3px;
    background-image: linear-gradient(45deg, #48a378 10%, #387d56 79%);
}

.datapath {
    background-color: rgb(108, 231, 104);
    border: 1px solid rgb(36, 87, 31);
    bottom: 9rem;
    left: 35rem;
    position: absolute;
    height: 50%;
    width: 33%;
    margin: 1rem;
    /* border-radius: 2px; */
    border-width: 2px;
    transition: all 250ms 0ms cubic-bezier(0, 0, 1, 1);
    background-blend-mode: overlay;
    mix-blend-mode: normal;
    border-radius: 16px;
    background-image: linear-gradient(45deg, #571e48 0%, #A020F0 79%);
}

.memory-block{
    background-color: rgb(185, 185, 185);
    border: 1px solid rgb(63, 63, 63);
    bottom: 1rem;
    left: 2rem;
    position: absolute;
    height: 13%;
    width: 83%;
    margin: 1rem;
    border-radius: 2px;
    border-width: 3px;
    transition: 0.3s;
}

.memory-block.memory-block-glow{
    box-shadow: 0 0 10px 5px rgb(63, 63, 63);
}


.controller{
    background-color: rgb(100, 142, 145);
    border: 1px solid rgb(63, 63, 63);
    bottom: 7rem;
    left: 2.7rem;
    position: absolute;
    height: 30%;
    width:72%;
    margin: 1rem;
    border-radius: 10px;
    border-width: 3px;
    transition: 0.3s;
}
.controller h3{
    background-color: transparent;
    font-family: 'Oswald', sans-serif;    
}

.controller.controller-glow{
    box-shadow: 0 0 10px 5px rgb(63, 63, 63);
}


.instructionregister {
    background-color: rgb(100, 142, 145);
    width: 8rem;
    height: 4rem;
    top: 8rem;
    right: 3.7rem;
    position: absolute;
    border-radius: 10px;
    border-width: 10px;
    transition: 0.3s;
}

.instructionregister.instructionregister-glow{
    box-shadow: 0 0 10px 5px rgb(63, 63, 63);
}


.instructionregisterimg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}
.programcounter{
    background-color: rgb(100, 142, 145);
    width: 8rem;
    height: 4rem;
    top: 8rem;
    right: 3.7rem;
    position: absolute;
    border-radius: 10px;
    border-width: 10px;
}
.programcounterimg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border-color: #333969;
    border-width: 10px;
}

.ALU-block{
    background-color: rgb(100, 142, 145);
    border: 1px solid rgb(63, 63, 63);
    bottom: 6.1rem;
    right: 3.6rem;
    position: absolute;
    height: 40%;
    width:56%;
    margin: 1rem;
    border-radius: 10px;
    border-width: 3px;
}

.Registers-block{
    background-color: rgb(100, 142, 145);
    border: 1px solid rgb(63, 63, 63);
    bottom: 0.4rem;
    right: 2.45rem;
    position: absolute;
    height: 27%;
    width:66%;
    margin: 1rem;
    border-radius: 10px;
    border-width: 3px;
}

.mem-pc-bus{
    width: 0.7rem;
    height: 6.6rem;
    position: absolute;
    top: 16.2rem;
    left: 10rem;
    background-color: transparent;
    border: 4px solid black;
    border-top: transparent;
    border-bottom: transparent;
}

.pc-controller-bus{
    width: 0.7rem;
    height: 1.7rem;
    position: absolute;
    top: 10.5rem;
    left: 10rem;
    background-color: transparent;
    border: 4px solid black;
    border-top: transparent;
    border-bottom: transparent;
}

.ir-controller-bus{
    width: 0.7rem;
    height: 1.7rem;
    position: absolute;
    top: 10.5rem;
    left: 23rem;
    background-color: transparent;
    border: 4px solid black;
    border-top: transparent;
    border-bottom: transparent;
}

.mem-ir-bus{
    width: 0.7rem;
    height: 6.6rem;
    position: absolute;
    top: 16.2rem;
    left: 23rem;
    background-color: transparent;
    border: 4px solid black;
    border-top: transparent;
    border-bottom: transparent;
}

.ALU-Registers-bus{
    width: 0.7rem;
    height: 1.7rem;
    position: absolute;
    right: 17.7rem;
    bottom: 15.6rem;
    background-color: transparent;
    border: 4px solid black;
    border-top: transparent;
    border-bottom: transparent;
}

.mem-Registers-bus{
    width: 0.7rem;
    height: 5.8rem;
    position: absolute;
    top: 17rem;
    right: 17.7rem;
    background-color: transparent;
    border: 4px solid black;
    border-top: transparent;
    border-bottom: transparent;
}

.proc-dp-bus{
    width: 5.4rem;
    height: 0.7rem;
    position: absolute;
    right: 29.2rem;
    bottom: 19rem;
    background-color: transparent;
    border: 4px solid black;
    border-left: transparent;
    border-right: transparent;
}

.programcounter {
    background-color: rgb(100, 142, 145);
    width: 8rem;
    height: 4rem;
    top: 8rem;
    left: 3.7rem;
    position: absolute;
    border-radius: 10px;
    border-width: 10px;
    transition: 0.3s;
}

.programcounter.programcounter-glow{
    box-shadow: 0 0 10px 5px rgb(63, 63, 63);
}


.programcounterimg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border-color: #333969;
    border-width: 10px;
}

.ALU-block{
    background-color: rgb(100, 142, 145);
    border: 1px solid rgb(63, 63, 63);
    bottom: 6.1rem;
    right: 3.6rem;
    position: absolute;
    height: 40%;
    width:56%;
    margin: 1rem;
    border-radius: 10px;
    border-width: 3px;
    transition: 0.3s;
}

.ALU-block.ALU-block-glow{
    box-shadow: 0 0 10px 5px rgb(63, 63, 63);
}


.Registers-block{
    background-color: rgb(100, 142, 145);
    border: 1px solid rgb(63, 63, 63);
    bottom: 0.4rem;
    right: 2.45rem;
    position: absolute;
    height: 27%;
    width:66%;
    margin: 1rem;
    border-radius: 10px;
    border-width: 3px;
    transition: 0.3s;
}

.Registers-block.Registers-block-glow{
    box-shadow: 0 0 10px 5px rgb(63, 63, 63);
}


.mem-pc-bus{
    width: 0.7rem;
    height: 6.6rem;
    position: absolute;
    top: 16.2rem;
    left: 10rem;
    background-color: rgba(133, 133, 133, 0.514);
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 white;
}

.mem-pc-bus.mem-pc-bus-down-fill {
    box-shadow: inset 0 6.6rem 0 0 white;
}

.pc-controller-bus{
    width: 0.7rem;
    height: 1.7rem;
    position: absolute;
    top: 10.5rem;
    left: 10rem;
    background-color: rgba(133, 133, 133, 0.514);
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 white;
}
.pc-controller-bus.pc-controller-bus-down-fill{
    box-shadow: inset 0 1.7rem 0 0 white;
}

.ir-controller-bus{
    width: 0.7rem;
    height: 1.7rem;
    position: absolute;
    top: 10.5rem;
    left: 23rem;
    background-color: rgba(133, 133, 133, 0.514);
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    /* border-top: transparent;
    border-bottom: transparent; */
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 white;
}

.ir-controller-bus.ir-controller-bus-up-fill{
    box-shadow: inset 0 -1.7rem 0 0 white;
}

.mem-ir-bus{
    width: 0.7rem;
    height: 6.6rem;
    position: absolute;
    top: 16.2rem;
    left: 23rem;
    background-color: rgba(133, 133, 133, 0.514);
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 white;
}

.mem-ir-bus.mem-ir-bus-up-fill{
    box-shadow: inset 0 -6.6rem 0 0 white;
}

.ALU-Registers-bus{
    width: 0.7rem;
    height: 1.7rem;
    position: absolute;
    right: 17.7rem;
    bottom: 15.6rem;
    background-color: rgba(133, 133, 133, 0.514);
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 white;
}

.ALU-Registers-bus.ALU-Registers-bus-up-fill{
    box-shadow: inset 0 -1.7rem 0 0 white;
}
.ALU-Registers-bus.ALU-Registers-bus-down-fill {
    box-shadow: inset 0 1.7rem 0 0 white;
}

.mem-Registers-bus{
    width: 0.7rem;
    height: 5.8rem;
    position: absolute;
    top: 17rem;
    right: 17.7rem;
    background-color: rgba(133, 133, 133, 0.514);
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 white;
}

.mem-Registers-bus.mem-Registers-bus-down-fill{
    box-shadow: inset 0 5.8rem 0 0 white;
}
.mem-Registers-bus.mem-Registers-bus-up-fill {
    box-shadow: inset 0 -5.8rem 0 0 white;
}


.proc-dp-bus{
    width: 5.4rem;
    height: 0.7rem;
    position: absolute;
    right: 29.2rem;
    bottom: 19rem;
    background-color: rgba(133, 133, 133, 0.514);
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 white;
}

.proc-dp-bus.proc-dp-bus-left-fill{
    box-shadow: inset -5.4rem 0 0 0 white;
}
.proc-dp-bus.proc-dp-bus-right-fill {
    box-shadow: inset 5.4rem 0 0 0 white;
}



/* IDK what this is. Safvi made this */
/*Safvi here; im p sure this was supposed to be an arrow? idk lmao*/
.pc-mem{
    height: 10px;
    width: 10px;
    background-color: rgba(133, 133, 133, 0.514);
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 white;
}

   /* * {
    margin: 0;
    padding: 0; } */
  
  body {
    background: #C2BEB2;
 }
  
  .testtwo {
    position: absolute;
    top: -80%;
    left: 80%;
    right: 0%;
    bottom: 0;
    margin: 0;
    padding: 0;
    margin: auto; }
  
  .test {
    width: 270px;
    height: 100px;
    background-color: #d4e5ff; 
}
    .test .monitor-wrapper {
      background: #050321;
      width: 250px;
      height: 80px;
      position: fixed;
      box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3); 
    }
      .test .monitor-wrapper .monitor {
        width: 220px;
        height: 50px;
        position: fixed;
        background-color: #344151;
        overflow: hidden;
        white-space: nowrap;
        box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.3); 
    }
        .test .monitor-wrapper .monitor p {
          font-family: 'VT323', monospace;
          font-size: 44px;
          position: relative;
          display: inline-block;
          animation: move 5s infinite linear;
          color: #24d158; 
          margin: 0;
          padding: 0;
        }
  
  @keyframes move {
    from {
      left: 400px; }
    to {
      left: -450px; } }
  