* {
  margin: 0;
  /* box-sizing: border-box; */
}
/* body{
    max-height: 100vh;
    max-width: 100vw;
} */
.div_main {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 97vh;
}

.reg_part {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.sim_part {

}

.wrapper {
  width: auto;
  height: auto;
  border: none;
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
}

.logo_main {
  width: 290px;
  height: 50px;
  border: 10px solid rgb(0, 0, 0, 0.6);
  box-shadow: inset 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #344151;
  border-radius: 5px;
}

.logo_txt {
  width: 300px;
  height: auto;
  background-repeat: repeat-x;
  animation: move 3s infinite linear;
  position: relative;
  /* background-color: #e7ffee; */
}

.logo_txt p {
  font-size: 30px;
  font-family: 'VT323', monospace;
  font-weight: bold;
  color: #24d158;
}

@keyframes move {
  from {
    left: 300px;
  }

  to {
    left: -300px;
  }
}


.reg_main {
  background-color: var(--regmemcolour);
  height: 35%;
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.52);
}

.reg_main h3{
  width: 100%;
  padding-top: 0.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  padding-bottom: 0.5rem;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

.table {
  display: grid;
  background-color: var(--regmemcolour);
  grid-template-columns: 45% 45%;
  gap: 1.5rem;
}

.table-row {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.reg_col{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.1);
  width: 4rem;
  text-align: center;  
  /* border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.table-row:nth-child(odd) .reg_col {
  border-left: 3px solid red;
}

.table-row:nth-child(even) .reg_col{
  border-left: 3px solid blue;
}

.reg_num{
  background-color: rgba(0, 0, 0, 0.1);
  width: 4rem;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.inp_trans {
  width: 90%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.52);
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}

.input_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  width: 70%;
  height: 1rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem;
  /* margin-top: 0.5rem; */
}

.trans_main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}

.trans_main h3{
  margin-left: 12%;
  text-align: left;
}

.trans_text {
  align-self: center;
  width: 70%;
  height: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.sim_main {
  display: flex;
  /* align-items: space-between; */
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  /* background-color: white; */
  height: 100%;
  width: 100%;
  border-radius: 10px;
  /* background-image: linear-gradient(0deg, #647ef1 23%, #333969 79%);   */
}

.processor {
  background-color: rgb(87, 136, 209);
  border: 1px solid rgb(136, 69, 7);
  height: 23rem;
  width: 25rem;
  border-radius: 13px;
  border-width: 3px;
  background-image: linear-gradient(45deg, #48a378 10%, #387d56 79%);
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-image: url('./2.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.memory_main {
  display: flex;
  background-color: var(--regmemcolour);
  border: 2px solid black;
  height: max-content;
  /* align-self: center; */
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: auto;
}

.mem-row {
  /* display: flex; */
  /* flex-direction: row; */
}

.memSeg {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: .25rem;
  /* justify-content: space-between; */
}

.controller {
  background-color: rgb(100, 142, 145);
  border: 1px solid rgb(63, 63, 63);
  margin: 1rem;
  height: 5rem;
  border-radius: 10px;
  border-width: 3px;
  transition: 0.3s;
  width: 100%;
}
.controller h3 {
  background-color: transparent;
  font-family: "Oswald", sans-serif;
}

.controller.controller-glow {
  box-shadow: 0 0 10px 5px rgb(63, 63, 63);
}

.ir_and_pc {
  /* margin: 1rem; */
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.instructionregister {
  background-color: rgb(100, 142, 145);
  width: 8rem;
  height: 4rem;
  border-radius: 10px;
  border-width: 10px;
  transition: 0.3s;
}

.instructionregister.instructionregister-glow {
  box-shadow: 0 0 10px 5px rgb(63, 63, 63);
}

.instructionregisterimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.programcounter {
  background-color: rgb(100, 142, 145);
  width: 8rem;
  height: 4rem;
  border-radius: 10px;
  border-width: 10px;
}
.programcounterimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border-color: #333969;
  border-width: 10px;
}

.datapath {
  background-color: rgb(108, 231, 104);
  border: 1px solid rgb(36, 87, 31);
  border-width: 2px;
  border-radius: 16px;
  width: 25rem;
  height: 23rem;
  background-image: linear-gradient(45deg, #571e48 0%, #a020f0 79%);
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('./2.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ALU-block {
  background-color: rgb(100, 142, 145);
  border: 1px solid rgb(63, 63, 63);
  height: 5rem;
  width: 90%;
  margin: 1rem;
  border-radius: 10px;
  border-width: 3px;
}

.Registers-block {
  background-color: rgb(100, 142, 145);
  border: 1px solid rgb(63, 63, 63);
  height: 27%;
  width: 90%;
  margin: 1rem;
  border-radius: 10px;
  border-width: 3px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 2rem;
}

.R0{
  width: 8rem;
  height: 4rem;
  background-color: #571e48;
  margin-top: auto;
  margin-left: auto;
  border-radius: 5px;
}

.R1 {
  width: 8rem;
  height: 4rem;
  background-color: #571e48;
  /* margin-top: 0;
  margin-right: auto; */
  border-radius: 5px;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.btn {
  border: 0px solid;
  padding: 0.5rem 1rem;
  font-family: 'Raleway', sans-serif;
  border-radius: 0.75rem;
  background-color: white;
  cursor: pointer;
  background-color: rgb(255, 153, 0);
  font-size:medium;
  color: white;
  transition-duration: 300ms;
}
.btn:hover {
  background-color: rgb(209, 143, 0);
  transition-duration: 300ms;
}