* {
  margin: 0;
  padding: 0;
  z-index: 2;
}

.div_main {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 97vh;
}

.reg_part {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.wrapper {
  width: auto;
  height: auto;
  border: none;
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
}

.logo_main {
  width: 290px;
  height: 50px;
  border: 10px solid rgb(0, 0, 0, 0.6);
  box-shadow: inset 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #344151;
  border-radius: 5px;
}

.logo_txt {
  width: 300px;
  height: auto;
  background-repeat: repeat-x;
  animation: move 3s infinite linear;
  position: relative;
  /* background-color: #e7ffee; */
}

.logo_txt p {
  font-size: 30px;
  font-family: "VT323", monospace;
  font-weight: bold;
  color: #24d158;
}

@keyframes move {
  from {
    left: 300px;
  }

  to {
    left: -300px;
  }
}

.reg_main {
  background-color: var(--regmemcolour);
  height: 35%;
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.52);
}

.reg_main h3 {
  width: 100%;
  padding-top: 0.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  padding-bottom: 0.5rem;
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Solway', serif; */
  color: #112e3a;
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

.table {
  display: grid;
  background-color: var(--regmemcolour);
  grid-template-columns: 45% 45%;
  gap: 1.5rem;
  text-transform: capitalize;
}

.table-row {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.reg_col {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.1);
  width: 4rem;
  text-align: center;
  /* border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.table-row:nth-child(odd) .reg_col {
  border-left: 3px solid red;
}

.table-row:nth-child(even) .reg_col {
  border-left: 3px solid blue;
}

.reg_num {
  background-color: rgba(0, 0, 0, 0.1);
  width: 4rem;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Roboto Condensed", sans-serif;
}

.inp_trans {
  width: 90%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.52);
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
}

.input_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  width: 70%;
  height: 1rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem;
  text-transform: uppercase;
  /* margin-top: 0.5rem; */
}

.trans_main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}

.trans_main h3 {
  margin-left: 12%;
  text-align: left;
  font-family: "Oswald", sans-serif;
  color: #112e3a;
}

.trans_text {
  align-self: center;
  width: 70%;
  height: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.btn {
  border: 0px solid;
  padding: 0.5rem 1rem;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 0.75rem;
  background-color: white;
  cursor: pointer;
  background-color: rgb(3, 7, 60);
  font-size: medium;
  color: white;
  transition-duration: 300ms;
}

.btn:hover {
  background-color: rgb(52, 26, 154);
  transition-duration: 300ms;
}

/* Shameekh Part */

.sim_main {
  display: flex;
  /* align-items: space-between; */
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  /* background-color: white; */
  height: 100%;
  /* max-width: 100%; */
  max-width: 74vw;
  border-radius: 10px;
  padding: 0 1rem;
  background-color: white;
  background-image: url("./recommended.png");
  /* z-index: -1; */
  /* background-image: linear-gradient(0deg, #647ef1 23%, #333969 79%);   */
}

.processor {
  /* background-color: rgb(87,  136, 209); */
  border: 1px solid rgb(136, 69, 7);
  height: 23rem;
  width: 25rem;
  border-radius: 13px;
  border-width: 3px;
  /* background-image: linear-gradient(45deg, #48a378 10%, #387d56 79%); */
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  /* background-image: url("./2.gif"); */
  background-image: url("./wires1New.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.memory_main {
  display: flex;
  /* background-color: var(--regmemcolour); */
  /* border: 1px solid rgb(63, 63, 63); */
  border-radius: 3px;
  height: max-content;
  /* align-self: center; */
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.52);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 5px;
  /* max-width: 73vw; */
  /* overflow: hidden; */
  /* width: auto; */
}

.memSeg {
  /* border-right: 1px solid rgb(63, 63, 63); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  letter-spacing: 1px;
  box-shadow: 5px 0px 8px -3px rgba(0, 0, 0, 0.75);
  /* background-color: rgba(165, 165, 165, 0.281); */
  /* border-radius: 5px; */
  /* padding: 1px; */
  /* margin: 0.25rem; */
  /* padding-right: 20rem; */
  /* padding: 0 1rem; */
  /* justify-content: space-between; */
}

.memory_main :nth-child(16) {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.memory_main :nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.mem_col {
  font-size: 0.99rem;
  font-weight: 700;
  /* color: blue; */
}

.controller {
  /* background-color: rgb(100, 142, 145); */
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 7px #969696, -5px -5px 7px #ffffff;
  /* border: 1px solid rgb(63, 63, 63); */
  margin: 0.5rem;
  height: 6rem;
  border-radius: 20px;
  /* border-width: 3px; */
  transition: 0.3s;
  width: 7rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  padding: 0.75rem;
}

.controller p {
  /* position: absolute;
  text-align: center;
   */
  /* margin-left: auto;
   margin-right: auto; */
  margin: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.controller h3 {
  background-color: transparent;
  font-family: "Oswald", sans-serif;
}

.controller.controller-glow {
  box-shadow: 0 0 10px 5px rgb(63, 63, 63);
}

.controllerTLcircle {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(94, 118, 128);
  width: 0.8rem;
  height: 0.6rem;
  /* width: 2rem; */
  border-radius: 50%;
  /* position: relative;
  top: 6.5%;
  left: 6.5%; */
  margin-bottom: auto;
  margin-right: auto;
}
.controllerBRcircle {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(94, 118, 128);
  width: 0.8rem;
  height: 0.6rem;
  border-radius: 50%;
  margin-top: auto;
  margin-left: auto;
  /* position: relative;
  top: 73%;
  left: 83%; */
}

.ir_and_pc {
  /* margin: 1rem; */
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.3rem;
}

.instructionregister {
  background-color: rgb(100, 142, 145);
  width: 4rem;
  height: 3rem;
  border-radius: 10px;
  border-width: 10px;
  transition: 0.3s;
  box-shadow: 3px 3px 2px #969696, -1px -1px 7px #ffffff;
}

.instructionregister.instructionregister-glow {
  box-shadow: 0 0 10px 5px rgb(63, 63, 63);
}

.instructionregisterimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.programcounter {
  background-color: rgb(100, 142, 145);
  width: 12rem;
  height: 3rem;
  border-radius: 10px;
  border-width: 10px;
  box-shadow: 3px 3px 2px #969696, -1px -1px 7px #ffffff;
}
.programcounterimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border-color: #333969;
  border-width: 10px;
}

.datapath {
  /* background-color: rgb(108, 231, 104); */
  border: 1px solid rgb(36, 87, 31);
  border-width: 2px;
  border-radius: 16px;
  width: 20rem;
  height: 23rem;
  /* background-image: linear-gradient(45deg, #571e48 0%, #a020f0 79%); */
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-image: url("./2.gif"); */
  background-image: url("./wires3New.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.ALU-block {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 7px #969696, -5px -5px 7px #ffffff;
  /* border: 1px solid rgb(70, 98, 98); */
  box-shadow: 5px 5px 7px #969696, -5px -5px 7px #ffffff;
  height: 6rem;
  width: 6rem;
  margin: 1rem;
  border-radius: 20px;
  border-width: 3px;
  padding: 0.65rem;
  display: flex;
}

.ALU-block p {
  margin: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.ALUTLcircle {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(70, 98, 98);
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  /* position: relative; */
  margin-top: auto;
  margin-right: auto;
}
.ALUBRcircle {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(70, 98, 98);
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  /* position: relative; */
  margin-bottom: auto;
  margin-left: auto;
}

.Registers-block {
  /* background-color: rgb(100, 142, 145); */
  /* border: 1px solid rgb(63, 63, 63); */
  /* border-width: 3px; */
  height: 4rem;
  width: 12rem;
  margin: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 5rem;
  margin-top: 1.5rem;
}

.R0 {
  width: 4rem;
  height: 4rem;
  background-color: rgb(100, 142, 145);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  border-radius: 5px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.3rem;

  box-shadow: 3px 3px 2px #969696, -1px -1px 7px #ffffff;
}

.R1 {
  width: 4rem;
  height: 4rem;
  background-color: rgb(100, 142, 145);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  border-radius: 5px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.3rem;
  box-shadow: 3px 3px 2px #969696, -1px -1px 7px #ffffff;
}

.databus {
  height: 10px;
  width: 5rem;
  margin-left: 5px;
  /* background-image: linear-gradient(
    90deg,
    #fff,
    #fff 75%,
    transparent 75%,
    transparent 100%
  ); */
  background-color: #fff;
  background-size: 22px;
  position: fixed;
  /* animation: dataflowUp 3s infinite linear; */
  /* bottom: 75vh; */
  z-index: 0;
}
#ir_bus {
  /* width: 12%; */
  margin-left: 23vw;
  background-size: 50px;
}
#ir_pc_bus {
  height: 12%;
  width: 10px;
  /* background-color: white; */
  background-image: none;
  animation: none;
  top: 10vh;
  /* animation: dataflowLeft 2s infinite linear; */
  /* animation: dataflowRight 2s infinite linear; */
}

#R0_bus {
  width: 3rem;
  position: absolute;
  right: 2.8vw;
  /* border: 1px solid black; */
}
#R1_bus {
  width: 3rem;
  position: absolute;
  right: 22vw;
  /* border: 1px solid black; */

  /* margin: 0; */
  /* left: 6vw; */
}
#R0_R1_bus {
  top: 13.7vh;
  right: 25vw;
  height: 3.5rem;
  width: 10px;
  /* animation: dataflowLeftALU 1.5s infinite linear; */
}

#mem_controller {
  position: absolute;
  bottom: 5vh;
  left: 42vw;
  width: 10rem;
  /* animation: memB 2s infinite linear; */
}
#mem_datapath {
  position: absolute;

  bottom: 5vh;
  left: 78vw;
  width: 10rem;
  /* animation: memB 2s infinite linear; */
}
#aux_bus {
  position: absolute;
  /* bottom: 47vh; */
  top: 30vh;
  /* left: 55vw; */
  width: 15rem;
  /* animation: auxB 2s infinite linear; */
  transform: rotate(90deg);
}
@keyframes dataflowUp {
  from {
    bottom: 50vh;
  }
  to {
    bottom: 75vh;
  }
}
@keyframes dataflowLeft {
  from {
    left: 28vw;
  }
  to {
    left: 37vw;
  }
}
@keyframes dataflowRight {
  from {
    left: 53vw;
  }
  to {
    left: 45vw;
  }
}
@keyframes dataflowRightALU {
  from {
    right: 23vw;
  }
  to {
    right: 19vw;
  }
}
@keyframes dataflowLeftALU {
  from {
    right: 3vw;
  }
  to {
    right: 8.3vw;
  }
}
@keyframes memB {
  from {
    bottom: 5vh;
  }
  to {
    bottom: 40vh;
  }
}
@keyframes auxB {
  from {
    left: 40vw;
  }
  to {
    left: 65vw;
  }
}

@keyframes glow {
  0% {
    border: none;
    box-shadow: 0px 0px 0px -182px rgba(128, 125, 125, 0.877);
    transform: scale(1);
  }
  50% {
    border: none;
    box-shadow: 11px 10px 21px 3px rgba(128, 125, 125, 0.89);
    transform: scale(1.25);
  }
  100% {
    box-shadow: 0px 0px 0px -182px rgba(128, 125, 125, 0.89);
    transform: scale(1);
  }
}

@keyframes glowCircle {
  from {
    background-color: rgb(94, 118, 128);
  }
  to {
    background-color: white;
  }
}

#ir,
#pc,
#R0,
#R1 {
  /* padding-top: 1.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  color: white;
  font-weight: 600;
}

/* ========================DJANGO KAAM============================== */
#overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  /* opacity: 1; */
  /* display: none;  */
  /* overflow: hidden; */
}

#console {
  /* position: absolute; */
  margin: auto;
  margin-top: 4%;
  margin-bottom: auto;
  height: 80%;
  width: 60%;
  border-radius: 10px;
  background-color: #e6e6e6;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
  padding-left: 3rem;

  /* display: none; */
}

#console h1 {
  color: #f4c430;
  margin-bottom: 0.5rem;
}

#consoleText {
  resize: none;
  /* overflow: scroll; */
  width: 90%;
  height: 82%;
  border: none;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  line-height: 1.5rem;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: -5px -5px 10px #949494, 5px 5px 10px #ffffff;
  padding: 1rem;
  text-transform: uppercase;
  /* margin-left: 2rem; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}
#consoleText:focus {
  /* border: none; */
  outline: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 93%;
}

.smexcy_buttons {
  /* display: flex; */
  /* border-right: 3px solid #949494; */
}

.smexcy_buttons :nth-child(1) {
  background-color: #f4c430;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.smexcy_buttons :nth-child(3) {
  background-color: #ff2f2fef;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.smexcy {
  cursor: pointer;
  width: 6rem;
  height: 2rem;
  border: none;
  box-shadow: 5px 0px 8px -3px rgba(0, 0, 0, 0.75);
  font-size: small;
  font-weight: 600;
  letter-spacing: .05rem;
  transition: .5s;
}
/* .smexcy:hover{
  opacity: ;
 } */

.smexcy:nth-child(1):hover {
  background-color: #d1a728;
}
.smexcy:nth-child(3):hover {
  background-color: #c42424ef;
}

#open{
  margin-top: -1.5rem;
  margin-left: auto;
  cursor: pointer;
  /* border: none;. */
  border-radius: 50%;
  background-color: #f4c430;
  height: 1.5rem;
  width: 1.5rem;
}



/* ======Fade in Left animation =================== */
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/* ==========Fado out animation */
@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}