* {
  margin: 0;
  padding: 0;
  z-index: 2;
}

.div_main {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 97vh;
}

.reg_part {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.wrapper {
  width: auto;
  height: auto;
  border: none;
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
}

.logo_main {
  width: 290px;
  height: 50px;
  border: 10px solid rgb(0, 0, 0, 0.6);
  box-shadow: inset 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #344151;
  border-radius: 5px;
}

.logo_txt {
  width: 300px;
  height: auto;
  background-repeat: repeat-x;
  animation: move 3s infinite linear;
  position: relative;
  /* background-color: #e7ffee; */
}

.logo_txt p {
  font-size: 30px;
  font-family: "VT323", monospace;
  font-weight: bold;
  color: #24d158;
}

@keyframes move {
  from {
    left: 300px;
  }

  to {
    left: -300px;
  }
}

.reg_main {
  background-color: var(--regmemcolour);
  height: 35%;
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.52);
}

.reg_main h3 {
  width: 100%;
  padding-top: 0.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  padding-bottom: 0.5rem;
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Solway', serif; */
  color:#112e3a;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

.table {
  display: grid;
  background-color: var(--regmemcolour);
  grid-template-columns: 45% 45%;
  gap: 1.5rem;
}

.table-row {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.reg_col {
  font-family: 'Fira Sans', sans-serif; 
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.1);
  width: 4rem;
  text-align: center;
  /* border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.table-row:nth-child(odd) .reg_col {
  border-left: 3px solid red;
}

.table-row:nth-child(even) .reg_col {
  border-left: 3px solid blue;
}

.reg_num {
  background-color: rgba(0, 0, 0, 0.1);
  width: 4rem;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
}

.inp_trans {
  width: 90%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.52);
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
}

.input_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  width: 70%;
  height: 1rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem;
  text-transform: uppercase;
  /* margin-top: 0.5rem; */
}

.trans_main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}

.trans_main h3 {
  margin-left: 12%;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  color: #112e3a;
}

.trans_text {
  align-self: center;
  width: 70%;
  height: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.btn {
  border: 0px solid;
  padding: 0.5rem 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 0.75rem;
  background-color: white;
  cursor: pointer;
  background-color: rgb(3, 7, 60);
  font-size: medium;
  color: white;
  transition-duration: 300ms;
}

.btn:hover {
  background-color: rgb(52, 26, 154);
  transition-duration: 300ms;
}

/* Shameekh Part */

.sim_main {
  display: flex;
  /* align-items: space-between; */
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  /* background-color: white; */
  height: 100%;
  /* max-width: 100%; */
  max-width: 74vw;
  border-radius: 10px;
  padding: 0 1rem;
  background-color: white;
  background-image: url("./recommended.png");
  /* z-index: -1; */
  /* background-image: linear-gradient(0deg, #647ef1 23%, #333969 79%);   */
}

.processor {
  /* background-color: rgb(87,  136, 209); */
  border: 1px solid rgb(136, 69, 7);
  height: 23rem;
  width: 25rem;
  border-radius: 13px;
  border-width: 3px;
  /* background-image: linear-gradient(45deg, #48a378 10%, #387d56 79%); */
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  /* background-image: url("./2.gif"); */
  background-image: url("./wires1New.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.memory_main {
  display: flex;
  /* background-color: var(--regmemcolour); */
  border: 2px solid black;
  border-radius: 3px;
  height: max-content;
  /* align-self: center; */
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.52);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3rem;
   /* max-width: 73vw; */
  /* overflow: hidden; */
  /* width: auto; */
}

.memSeg {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3rem;
  background-color: rgb(173, 204, 207);
  /* margin: 0.25rem; */
  /* padding-right: 20rem; */
  /* padding: 0 1rem; */
  /* justify-content: space-between; */
}

.controller {
  /* background-color: rgb(100, 142, 145); */
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 7px #969696, -5px -5px 7px #ffffff;
  /* border: 1px solid rgb(63, 63, 63); */
  margin: 0.5rem;
  height: 8rem;
  border-radius: 20px;
  /* border-width: 3px; */
  transition: 0.3s;
  width: 8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.controller h3 {
  background-color: transparent;
  font-family: "Oswald", sans-serif;
}

.controller.controller-glow {
  box-shadow: 0 0 10px 5px rgb(63, 63, 63);
}

.controllerTLcircle{
  background-color: rgb(255, 255, 255);
  border:3px solid rgb(94, 118, 128);
  height: 5.5%;
  width: 5.5%;
  border-radius: 50%;
  position: relative;
  top: 6.5%;
  left: 6.5%;
}
.controllerBRcircle{
  background-color: rgb(255, 255, 255);
  border:3px solid rgb(94, 118, 128);
  height: 5.5%;
  width: 5.5%;
  border-radius: 50%;
  position: relative;
  top:73%;
  left:83%;
}

.ir_and_pc {
  /* margin: 1rem; */
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.3rem;
}

.instructionregister {
  background-color: rgb(100, 142, 145);
  width: 4rem;
  height: 3rem;
  border-radius: 10px;
  border-width: 10px;
  transition: 0.3s;
  box-shadow: 3px 3px 2px #969696, -1px -1px 7px #ffffff;
}

.instructionregister.instructionregister-glow {
  box-shadow: 0 0 10px 5px rgb(63, 63, 63);
}

.instructionregisterimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.programcounter {
  background-color: rgb(100, 142, 145);
  width: 12rem;
  height: 3rem;
  border-radius: 10px;
  border-width: 10px;
  box-shadow: 3px 3px 2px #969696, -1px -1px 7px #ffffff;
}
.programcounterimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border-color: #333969;
  border-width: 10px;
}

.datapath {
  /* background-color: rgb(108, 231, 104); */
  border: 1px solid rgb(36, 87, 31);
  border-width: 2px;
  border-radius: 16px;
  width: 20rem;
  height: 23rem;
  /* background-image: linear-gradient(45deg, #571e48 0%, #a020f0 79%); */
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-image: url("./2.gif"); */
  background-image: url("./wires3New.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.ALU-block {
  background-color: rgb(100, 142, 145);
  /* border: 1px solid rgb(70, 98, 98); */
  box-shadow: 5px 5px 7px #969696, -5px -5px 7px #ffffff;
  height: 8rem;
  width: 8rem;
  margin: 1rem;
  border-radius: 10px;
  border-width: 3px;
}

.ALUTLcircle{
  background-color: rgb(255, 255, 255);
  border:3px solid rgb(70, 98, 98);
  height: 5.5%;
  width: 5.5%;
  border-radius: 50%;
  position: relative;
  top: 83%;
  left: 6.5%;
}
.ALUBRcircle{
  background-color: rgb(255, 255, 255);
  border:3px solid rgb(70, 98, 98);
  height: 5.5%;
  width: 5.5%;
  border-radius: 50%;
  position: relative;
  top:0%;
  left:83%;
}

.Registers-block {
  /* background-color: rgb(100, 142, 145); */
  /* border: 1px solid rgb(63, 63, 63); */
  /* border-width: 3px; */
  height: 4rem;
  width: 12rem;
  margin: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 5rem;
}

.R0 {
  width: 4rem;
  height: 3.5rem;
  background-color: #571e48;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  border-radius: 5px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.3rem;

  box-shadow: 3px 3px 2px #969696, -1px -1px 7px #ffffff;

}

.R1 {
  width: 4rem;
  height: 3.5rem;
  background-color: #571e48;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  border-radius: 5px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.3rem;
  box-shadow: 3px 3px 2px #969696, -1px -1px 7px #ffffff;

}

.databus {
  height: 10px;
  width: 5rem;
  margin-left: 5px;
  /* background-image: linear-gradient(
    90deg,
    #fff,
    #fff 75%,
    transparent 75%,
    transparent 100%
  ); */
  background-color: #fff;
  background-size: 22px;
  position: fixed;
  /* animation: dataflowUp 3s infinite linear; */
  /* bottom: 75vh; */
  z-index: 0;
}
#ir_bus {
  /* width: 12%; */
  margin-left: 23vw;
  background-size: 50px;
}
#ir_pc_bus {
  height: 12%;
  width: 10px;
  /* background-color: white; */
  background-image: none;
  animation: none;
  top: 10vh;
  /* animation: dataflowLeft 2s infinite linear; */
  /* animation: dataflowRight 2s infinite linear; */
}

#R0_bus {
  width: 3rem;
  position: absolute;
  right: 2.8vw;
  /* border: 1px solid black; */
}
#R1_bus {
  width: 3rem;
  position: absolute;
  right: 22vw;
  /* border: 1px solid black; */

  /* margin: 0; */
  /* left: 6vw; */
}
#R0_R1_bus {
  top: 13.7vh;
  right: 25vw;
  height: 3.5rem;
  width: 10px;
  /* animation: dataflowLeftALU 1.5s infinite linear; */
}

#mem_controller {
  position: absolute;
  bottom: 5vh;
  left: 42vw;
  width: 10rem;
  /* animation: memB 2s infinite linear; */
}
#mem_datapath {
  position: absolute;

  bottom: 5vh;
  left: 78vw;
  width: 10rem;
  /* animation: memB 2s infinite linear; */
}
#aux_bus {
  position: absolute;
  /* bottom: 47vh; */
  top: 30vh;
  /* left: 55vw; */
  width: 15rem;
  /* animation: auxB 2s infinite linear; */
  transform: rotate(90deg);
}
@keyframes dataflowUp {
  from {
    bottom: 50vh;
  }
  to {
    bottom: 75vh;
  }
}
@keyframes dataflowLeft {
  from {
    left: 28vw;
  }
  to {
    left: 37vw;
  }
}
@keyframes dataflowRight {
  from {
    left: 53vw;
  }
  to {
    left: 45vw;
  }
}
@keyframes dataflowRightALU {
  from {
    right: 23vw;
  }
  to {
    right: 19vw;
  }
}
@keyframes dataflowLeftALU {
  from {
    right: 3vw;
  }
  to {
    right: 8.3vw;
  }
}
@keyframes memB {
  from {
    bottom: 5vh;
  }
  to {
    bottom: 40vh;
  }
}
@keyframes auxB {
  from {
    left: 40vw;
  }
  to {
    left: 65vw;
  }
}

#ir,
#pc,
#R0,
#R1 {
  /* padding-top: 1.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  color: white;
  font-weight: 600;
}
